pyorbital~=1.10.2
matplotlib~=3.10.6
cartopy~=0.25.0
pandas~=2.3.3
networkx~=3.6.1
ortools~=9.15
astral~=3.2
tesspy~=0.2
dill~=0.4.1
openpyxl
xlrd
xarray
netCDF4~=1.7.4
cdsapi>=0.7.7
numpy
scipy
shapely
geopandas
h3
gurobipy
python-dotenv
requests
urllib3